.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Black with opacity */
    align-items: center;
    justify-content: center;
}

.modal-content {
    z-index: 2;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

.close-button {
    z-index: 2;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 25px;
    cursor: pointer;
}

.close-button:hover {
    color: black;
    text-decoration: none;
}
.loader {
    display: none;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}
    .g-recaptcha {
        padding-top: 20px;
    padding-bottom: 20px;
}

    .spinner {
        width: 20px;
    height: 20px;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% {transform: rotate(360deg); }
}

    #uploadForm {
        background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 15px;
    border-radius: 8px;
    max-width: 400px;
    margin: auto;
}

    #uploadForm label {
        display: block;
    margin-bottom: 8px;
    font-size: 1.2em;
}

    .upload-container {
        max-width: 400px;
    padding: 2rem;
    margin: 2rem auto;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

    .upload-zone {
        border: 2px dashed #4a90e2;
    border-radius: 6px;
    padding: 2rem;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

    .upload-zone:hover {
        border-color: #357abd;
    background: #00000078;
}
    .radio {
        display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
    .upload-input {
        display: none;
}

    .upload-label {
        display: block;
    margin-bottom: 1rem;
    color: #2c3e50;
    font-family: system-ui, -apple-system, sans-serif;
}

    .upload-icon {
        width: 48px;
    height: 48px;
    margin-bottom: 1rem;
    fill: #4a90e2;
}

    .upload-text {
        margin: 0;
    font-size: 0.9rem;
}

    .selected-file {
        margin-top: 1rem;
    padding: 0.5rem;
    background: #e3f2fd;
    border-radius: 4px;
    font-size: 0.9rem;
    color: #1565c0;
    display: none;
}

    #uploadForm button {
        background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1em;
}

    #uploadForm button:hover {
        background-color: #0056b3;
}