autocommand==2.2.2
backports.csv==1.0.7
backports.tarfile==1.2.0
beautifulsoup4==4.12.3
blinker==1.8.2
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
cheroot==10.0.1
CherryPy==18.10.0
click==8.1.7
cryptography==42.0.8
emoji==2.14.0
feedparser==6.0.11
flask==3.0.3
future==1.0.0
greenlet==3.0.3
idna==3.7
importlib-metadata==8.0.0
importlib-resources==6.4.0
inflect==7.3.1
itsdangerous==2.2.0
jaraco.collections==5.0.1
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
jinja2==3.1.4
joblib==1.4.2
langdetect==1.0.9
lxml==5.2.2
MarkupSafe==2.1.5
more-itertools==10.3.0
mysqlclient==2.2.4
nltk==3.8.1
numpy==1.24.4
pandas==2.0.3
Pattern==3.6
pdfminer.six==20240706
playwright==1.45.0
portend==3.2.0
pycparser==2.22
pyee==11.1.0
python-dateutil==2.9.0.post0
python-docx==1.1.2
pytz==2024.1
regex==2024.5.15
requests==2.32.3
scipy==1.10.1
sgmllib3k==1.0.0
six==1.16.0
soupsieve==2.5
tempora==5.6.0
tqdm==4.66.4
typeguard==4.3.0
typing-extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
werkzeug==3.0.3
zc.lockfile==3.0.post1
zipp==3.19.2
