.message-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
  }

.apexcharts-toolbar {
    display: none;
}

.title {
    justify-content: center;
}

.box {
    text-align: center;
}

.apexcharts-menu-icon {
    display: none;
}
  
.message-bubble {
    max-width: 70%;
    background-color: #e5e5ea;
    border-radius: 20px;
    padding: 10px 15px;
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
  
.message-header {
    margin-bottom: 5px;
}
  
.sender-name {
    font-weight: bold;
    font-size: 0.9em;
    color: #3366cc;
}
  
.message-content {
    color: black;
    font-size: 1em;
    line-height: 1.4;
    word-wrap: break-word;
}
  
.message-footer {
    text-align: right;
    margin-top: 5px;
}
  
.timestamp {
    font-size: 0.75em;
    color: #7f7f7f;
  }
.row {
    padding-top: 10px;
}

.primary {
    background-color: #e63946;
    padding: 10px;
    color: white;
}

.secondary {
    background-color: #457b9d;
    padding: 10px;
    color: white;
}

.box {
    width: 100%;
    height: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}
th, td {
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    font-weight: bold;
}

.emoji-card {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
}

.emoji-total {
    font-size: 1.2em;
    margin-bottom: 15px;
    text-align: center;
}

.emoji-person-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.emoji-person-card {
    flex: 1;
    min-width: 200px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

.emoji-bar {
    display: flex;
    align-items: center;
    margin: 5px 0;
    gap: 10px;
}

.emoji-bar .emoji {
    font-size: 1.2em;
    min-width: 30px;
}

.emoji-bar .count {
    margin-left: auto;
}

.emoji-progress {
    flex-grow: 1;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.emoji-progress-bar {
    height: 100%;
    background-color: #a8dadc;
    transition: width 0.3s ease;
}
